/* 
    Created on : Jan 28, 2025
    Author     : Samhita
*/

body {
  color: #fff;
}

.cover-container {
    background: #007bff!important;
}

#content{
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

#name{
  font-family: "Playfair Display", serif;
  font-size: 80px;
}

#role{
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.lead{
  max-width: 30em;
}

.tag-cloud {
  display: inline-block;
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  background-color: #d87093;
  margin-top: 8px;
}

#check{
  width: 200px;
  height: 200px;
}

.icon {
  display: inline;
  font-size: 50px;
}

.icon a i {
	/* transition: 0.3s; */
}

.icon a:hover i {
	color: #000;
}

/*
 * Header
 */

 .nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

#hoverLink:hover {
    color: #ffff00;
}

#hoverLink {
    cursor: pointer;
}

#none, #none:visited, #none:hover, #none:active {
  color: inherit;
}