/* 
    Created on : Jan 28, 2025
    Author     : Samhita
*/

.cover-container {
    background: #007bff!important;
    /* max-width: 42em; */
}

#main {
  color: #fff;
}

#content{
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

#name{
  font-family: "Playfair Display", serif;
  font-size: 80px;
}

#role{
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px;
}

.lead{
  max-width: 30em;
}

#hoverLink:hover {
    color: #2c4bff;
}

#hoverLink {
    cursor: pointer;
}

#none, #none:visited, #none:hover, #none:active {
  color: inherit;
}